@import "tailwindcss";


.cards {
  @apply text-[black] bg-[#b8b6b641] max-w-[200px] min-h-[400px] rounded-2xl pb-[20px] flex flex-col hover:transition-transform hover:translate-y-[-5px] hover:duration-300 cursor-pointer;
  display: flex;
  flex-direction: column;
}

.imgWrapper {
  @apply bg-[#F6F7F9] w-full rounded-2xl hover:rounded-[0px];
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imgWrapper img {
  @apply object-cover w-full h-full rounded-2xl;
}

.title {
  @apply px-[10px] font-bold pt-[10px];
  min-height: 80px;
  display: flex;
  align-items: flex-start;
}

.title h4 {
  @apply cursor-pointer hover:text-[#d62c2c] transition-colors;
  font-size: 14px;
  line-height: 1.3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.price {
  @apply pt-[20px] px-[10px] mt-auto text-[#c97a14] font-bold text-lg;
}

.button {
  @apply px-[20px] py-[12px] border-1 border-red-500 text-[#d62c2c] hover:text-[white] hover:bg-[#d62c2c] hover:duration-300 rounded-2xl;
}

.buttonWrapper {
  @apply flex justify-center mt-auto;
}

.imageWrapper {
  @apply fixed inset-0 z-50 flex items-center justify-center bg-black/40;
}

.image {
  @apply bg-white p-4 rounded-2xl max-w-[600px] overflow-hidden;
}

.imagesContainer {
  @apply flex transition-transform duration-300 ease-in-out;
}

.imageElement {
  @apply w-[600px] flex-shrink-0 cursor-pointer;
}


.product__description {
  @apply mt-8;
}

.product__description-title {
  @apply mb-4 text-3xl font-bold;
}

.description__item {
  @apply leading-relaxed text-gray-700;
}

.description__item h2 {
  @apply mt-6 mb-3 text-2xl font-bold;
}

.description__item h3 {
  @apply mt-4 mb-2 text-xl font-bold;
}

.description__item h4 {
  @apply mt-3 mb-2 text-lg font-semibold;
}

.description__item p {
  @apply mb-3;
}

.description__item ul {
  @apply mb-4 ml-6 list-disc;
}

.description__item ol {
  @apply mb-4 ml-6 list-decimal;
}

.description__item li {
  @apply mb-2;
}

.toggle-btn {
  @apply px-6 py-2 mt-4 text-white transition-colors bg-blue-500 rounded-md cursor-pointer hover:bg-blue-600;
}
